In [1]:
import pandas as pd
import scipy.stats
import numpy as np
import datetime as dt
import calendar
import timeit
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
start_time = dt.datetime.now()
import math
from math import exp

In [2]:
data = pd.read_csv('card transactions.csv')
data

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,1,5142190439,1/1/10,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,5142183973,1/1/10,61003026333,SERVICE MERCHANDISE #81,MA,1803.0,P,31.42,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,5142131721,1/1/10,4503082993600,OFFICE DEPOT #191,MD,20706.0,P,178.49,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,5142148452,1/1/10,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118.0,P,3.62,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,5142190439,1/1/10,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96748,96749,5142276053,12/31/10,3500000006160,BEST BUY 00001610,KY,41042.0,P,84.79,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96749,96750,5142225701,12/31/10,8090710030950,MARKUS OFFICE SUPPLIES,OH,45248.0,P,118.75,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96750,96751,5142226486,12/31/10,4503057341100,"TECH PAC, INC",OH,45150.0,P,363.56,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96751,96752,5142244619,12/31/10,8834000695412,BUY.COM,CA,92656.0,P,2202.03,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96752,96753,5142243247,12/31/10,9108347680006,STAPLES NATIONAL #471,NJ,7606.0,P,554.64,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.shape

(96753, 18)

In [4]:
data.dropna(how='all', axis=1,inplace=True)

In [5]:
data

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud
0,1,5142190439,1/1/10,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
1,2,5142183973,1/1/10,61003026333,SERVICE MERCHANDISE #81,MA,1803.0,P,31.42,0
2,3,5142131721,1/1/10,4503082993600,OFFICE DEPOT #191,MD,20706.0,P,178.49,0
3,4,5142148452,1/1/10,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118.0,P,3.62,0
4,5,5142190439,1/1/10,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
...,...,...,...,...,...,...,...,...,...,...
96748,96749,5142276053,12/31/10,3500000006160,BEST BUY 00001610,KY,41042.0,P,84.79,0
96749,96750,5142225701,12/31/10,8090710030950,MARKUS OFFICE SUPPLIES,OH,45248.0,P,118.75,0
96750,96751,5142226486,12/31/10,4503057341100,"TECH PAC, INC",OH,45150.0,P,363.56,0
96751,96752,5142244619,12/31/10,8834000695412,BUY.COM,CA,92656.0,P,2202.03,0
96752,96753,5142243247,12/31/10,9108347680006,STAPLES NATIONAL #471,NJ,7606.0,P,554.64,0

In [6]:
data['Date'] = pd.to_datetime(data['Date'])

In [7]:
data['Fraud']=data['Fraud'].astype(str)

In [8]:
##filter

In [9]:
##remove single amount outlier (max_amount)
# max_amount = data['Amount'].idxmax()
# max_amount

In [10]:
#data = data.drop(max_amount)

In [11]:
##keep only 'purchased' data
data = data[data['Transtype'] =='P']

In [12]:
data=data[data['Amount']<2500000]

In [13]:
## clean and impute merchnum

In [14]:
data['Merchnum']=data['Merchnum'].replace({'0':np.nan})

In [15]:
data['Merchnum'].isnull().sum()

3251

In [16]:
merchdes_merchnum={}
for index, merchdes in data[data['Merch description'].notnull()][data['Merchnum'].notnull()]['Merch description'].items():
    if pd.isnull(merchdes) == True:
        continue
    elif merchdes not in merchdes_merchnum:
        merchdes_merchnum[merchdes] = data.loc[index, 'Merchnum']

In [17]:
## fill in my mapping with merch description
data['Merchnum']= data['Merchnum'].fillna(data['Merch description'].map(merchdes_merchnum))

In [18]:
data['Merchnum'].isnull().sum()

2094

In [19]:
data['Merchnum']= data['Merchnum'].mask(data['Merch description']=='RETAIL CREDIT ADJUSTMENT', 'unknown')
data['Merchnum']= data['Merchnum'].mask(data['Merch description']=='RETAIL DEBIT ADJUSTMENT', 'unknown')

In [20]:
data['Merchnum'].isnull().sum()

1403

In [21]:
data.loc[data.Merchnum.isna(), 'Merch description'].unique()[:20]

array(['MONTGOMERY COLLEGE-PHONE', 'PACKAGE PLACE  THE',
       'CUBIX CORPORATION', 'SIGNAL GRAPHICS PRINTING',
       'C & M OFFICE EQUIPMENT', "TOMMY'S TRAILERS",
       'Z WORLD/RABBIT SEMICONDUC', 'IMPAC/TRI-COUNTY/FREED',
       'REPROGRPHC TECHNLGIES INC', 'STP SPECIALITY TECH',
       'VANGARD INTERNAITONAL', 'BLACKWELL SCIENCE', 'CDN ISOTOPES INC',
       'INTERACTIVE SOFTWARE S', 'H R WILLIAMS MILL SUPP',
       'ELSEVIER SCIENCE BV', 'COLORADO GARDEN SHOW',
       'PEARSON EDUCATION CANADA', 'PONTOTOC AREA VO-TECH',
       'NATIONAL BAG COMPANY'], dtype=object)

In [22]:
data.loc[data.Merchnum.isna(), 'Merch description'].nunique()

508

In [23]:
##adding new merchnums
#each new uniqueu merchnum will be max(merchnum)+1
merchnum_create={}
max_merchnum=pd.to_numeric(data.Merchnum, errors='coerce').max()
for merch_desc in data.loc[data.Merchnum.isna(), 'Merch description'].unique():
    merchnum_create[merch_desc] = str(max_merchnum+1)
    max_merchnum +=1

In [24]:
##fill in by mapping with Merch description (newly create merchnums)
data['Merchnum']=data['Merchnum'].fillna(data['Merch description'].map(merchnum_create))
for i in data.columns:
    print(i, data[i].isnull().sum())

Recnum 0
Cardnum 0
Date 0
Merchnum 0
Merch description 0
Merch state 1020
Merch zip 4300
Transtype 0
Amount 0
Fraud 0

In [25]:
###clean and impute State

In [26]:
data['Merch state'].isnull().sum()

1020

In [27]:
data[(data['Merch state'].isnull())& (data['Merch zip'].notnull())]['Merch zip'].unique()

array([9.2600e+02, 9.2900e+02, 1.4000e+03, 6.5132e+04, 8.6899e+04,
       2.3080e+04, 6.0528e+04, 9.3400e+02, 9.0200e+02, 7.3800e+02,
       9.0805e+04, 7.6302e+04, 9.0000e+00, 9.1400e+02, 6.0000e+00,
       9.5461e+04, 5.0823e+04, 2.0000e+00, 4.8700e+04, 6.8000e+02,
       1.0000e+00, 6.8100e+02, 6.2300e+02, 7.2600e+02, 9.3600e+02,
       1.2108e+04, 7.9100e+02, 9.0700e+02, 9.2200e+02, 9.2000e+02,
       3.0000e+00, 8.0100e+02, 8.0000e+00, 3.1040e+04, 3.8117e+04,
       4.1160e+04])

In [28]:
##dict for mapping 
zip_state = {}
for index, zip5 in data[data['Merch zip'].notnull()]['Merch zip'].items():
    if zip5 not in zip_state:
        zip_state[zip5] = data.loc[index, 'Merch state']
        
zip_state['00926']='PR'
zip_state['00929']='PR'
zip_state['00934']='PR'
zip_state['00902']='PR'
zip_state['00738']='PR'
zip_state['90805']='CA'
zip_state['76302']='TX'
zip_state['00914']='PR'
zip_state['95461']='CA'
zip_state['00680']='PR'
zip_state['00623']='PR'
zip_state['00726']='PR'
zip_state['00936']='PR'
zip_state['12108']='NY'
zip_state['00791']='PR'
zip_state['00907']='PR'
zip_state['00922']='PR'
zip_state['00920']='PR'
zip_state['00801']='VI'
zip_state['31040']='GA'
zip_state['41160']='KY'
zip_state['00681']='PR'

In [29]:
merchnum_state ={}
for index, merchnum in data[data['Merchnum'].notnull()]['Merchnum'].items():
    if merchnum not in merchnum_state:
        merchnum_state[merchnum]= data.loc[index,'Merch state']

In [30]:
merchdes_state ={}
for index, merchdes in data[data['Merch description'].notnull()]['Merch description'].items():
    if merchdes not in merchdes_state:
        merchdes_state[merchdes] = data.loc[index, 'Merch state']

In [31]:
## fill in by mapping with zip, merchnum and merch description
data['Merch state'] = data['Merch state'].fillna(data['Merch zip'].map(zip_state))
data['Merch state'] = data['Merch state'].fillna(data['Merchnum'].map(merchnum_state))
data['Merch state'] = data['Merch state'].fillna(data['Merch description'].map(merchdes_state))

In [32]:
##assgin unknown for adjustments transactions
data['Merch state']=data['Merch state'].mask(data['Merch description'] == 'RETAIL CREDIT ADJUSTMENT','unknown')
data['Merch state']=data['Merch state'].mask(data['Merch description'] == 'RETAIL DEBIT ADJUSTMENT','unknown')

In [33]:
data['Merch state'].isnull().sum()

346

In [34]:
##change non-US states might carefully be useful since fraud could be foreign transactions, maybe put a 'foreign' tag ot just
#leave them as is.

In [35]:
states = ['AL','AK','AZ','AR','CA','CO','CT','DC','DE','FL','GA','HI','ID','IL','IN','IA','KS','KY','LA','ME','MD','MA','MI',
         'MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VT',
         'VA','WA','WV','WI','WY','VI','PR',np.nan, 'unknown']

for index, state in data['Merch state'].items():
    if state not in states:
        data.loc[index, 'Merch state']='foreign'

In [36]:
data['Merch state'].fillna('unknown', inplace=True )

In [37]:
data['Merch state'].isnull().sum()

0

In [38]:
data

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud
0,1,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
1,2,5142183973,2010-01-01,61003026333,SERVICE MERCHANDISE #81,MA,1803.0,P,31.42,0
2,3,5142131721,2010-01-01,4503082993600,OFFICE DEPOT #191,MD,20706.0,P,178.49,0
3,4,5142148452,2010-01-01,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118.0,P,3.62,0
4,5,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
...,...,...,...,...,...,...,...,...,...,...
96748,96749,5142276053,2010-12-31,3500000006160,BEST BUY 00001610,KY,41042.0,P,84.79,0
96749,96750,5142225701,2010-12-31,8090710030950,MARKUS OFFICE SUPPLIES,OH,45248.0,P,118.75,0
96750,96751,5142226486,2010-12-31,4503057341100,"TECH PAC, INC",OH,45150.0,P,363.56,0
96751,96752,5142244619,2010-12-31,8834000695412,BUY.COM,CA,92656.0,P,2202.03,0
96752,96753,5142243247,2010-12-31,9108347680006,STAPLES NATIONAL #471,NJ,7606.0,P,554.64,0

In [39]:
##clean and impute zip

In [40]:
data['Merch zip'].isnull().sum()

4300

In [41]:
merchnum_zip = {}
for index, merchnum in data[data['Merchnum'].notnull()]['Merchnum'].items():
    if merchnum not in merchnum_zip:
        merchnum_zip[merchnum] = data.loc[index, 'Merch zip']

In [42]:
merchdes_zip = {}
for index, merchdes in data[data['Merch description'].notnull()]['Merch description'].items():
    if merchdes not in merchdes_zip:
        merchdes_zip[merchdes] = data.loc[index, 'Merch zip']

In [43]:
# fill in mu mapping with merchnum and merch description
data['Merch zip']=data['Merch zip'].fillna(data['Merchnum'].map(merchnum_zip))
data['Merch zip']=data['Merch zip'].fillna(data['Merch description'].map(merchdes_zip))

In [44]:
data['Merch zip'].isnull().sum()

2658

In [45]:
##assign unknown for adjustments transactions
data['Merch zip'] = data['Merch zip'].mask(data['Merch zip'] == 'RETAIL CREDIT ADJUSTMENT','unknown')
data['Merch zip'] = data['Merch zip'].mask(data['Merch zip'] == 'RETAIL DEBIT ADJUSTMENT','unknown')

In [46]:
data['Merch zip'].isnull().sum()

2658

In [47]:
data['Merch zip'].fillna('unknown', inplace = True)
data['Merch zip'].isnull().sum()

0

In [72]:
data.head()

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud
0,1,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0
1,2,5142183973,2010-01-01,61003026333,SERVICE MERCHANDISE #81,MA,1803.0,P,31.42,0
2,3,5142131721,2010-01-01,4503082993600,OFFICE DEPOT #191,MD,20706.0,P,178.49,0
3,4,5142148452,2010-01-01,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118.0,P,3.62,0
4,5,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0

In [48]:
## export cleaned data 
data.to_csv('cleaned_data.csv', index=False)

In [49]:
##Make benchford's Law

In [50]:
bf=data.copy()
bf['amount_100']=(bf['Amount']*100).astype(str)
bf['first_digit']= bf['amount_100'].str[0]
dropfedex = bf[bf['Merch description'].str.contains('FEDEX')]
droplist = dropfedex.index.tolist()
bf1 = bf.drop(droplist)
bf1['bin']=bf1['first_digit'].apply(lambda x: 'low' if x== '1' else ('low' if x=='2' else 'high'))

In [51]:
bf1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84622 entries, 1 to 96752
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Recnum             84622 non-null  int64
 1   Cardnum            84622 non-null  int64
 2   Date               84622 non-null  datetime64[ns]
 3   Merchnum           84622 non-null  object
 4   Merch description  84622 non-null  object
 5   Merch state        84622 non-null  object
 6   Merch zip          84622 non-null  object
 7   Transtype          84622 non-null  object
 8   Amount             84622 non-null  float64
 9   Fraud              84622 non-null  object
 10  amount_100         84622 non-null  object
 11  first_digit        84622 non-null  object
 12  bin                84622 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 9.0+ MB

In [52]:
card_bf = bf1.groupby(['Cardnum','bin']).agg({'bin': ['count']}).reset_index()
card_bf.columns=['Cardnum','bin','count']
card_bf = card_bf.pivot_table(index='Cardnum',columns = 'bin',values='count',aggfunc ='sum').reset_index()
card_bf.columns=['Cardnum','n_high','n_low']
card_bf = card_bf.fillna(1)

In [53]:
##calculating R, 1/R, U, n, t, U_smoothed
c=3
n_mid =15
card_bf['R']=(1.096*card_bf['n_low']/card_bf['n_high'])
card_bf['1/R']=(1/card_bf['R'])
card_bf['U']=list(map(lambda x,y: max(x,y), card_bf['R'], card_bf['1/R']))
card_bf['n']=card_bf['n_high']+card_bf['n_low']
card_bf['t']=((card_bf['n']-n_mid)/c)
card_bf['U_smoothed']=list(map(lambda x, y: (1+(x-1)/(1+exp(-y))), card_bf['U'], card_bf['t']))
card_bf['U_smoothed']=card_bf['U_smoothed']

In [54]:
merch_bf = bf1.groupby(['Merchnum','bin']).agg({'bin': ['count']}).reset_index()
merch_bf.columns=['Merchnum','bin','count']
merch_bf = merch_bf.pivot_table(index='Merchnum', columns='bin', values='count', aggfunc='sum').reset_index()
merch_bf.columns=['Merchnum','n_high','n_low']
merch_bf = merch_bf.fillna(1)

In [55]:
##calculating R, 1/R, U, n, t, U_smoothed
merch_bf['R'] = (1.096 * merch_bf['n_low']/merch_bf['n_high'])
merch_bf['1/R']=(1/merch_bf['R'])
merch_bf['U']=list(map(lambda x,y: max(x,y), merch_bf['R'], merch_bf['1/R']))
merch_bf['n']=merch_bf['n_high']+merch_bf['n_low']
merch_bf['t']=((merch_bf['n']-n_mid)/c)
merch_bf['U_smoothed']=list(map(lambda x, y: (1+(x-1)/(1+exp(-y))), merch_bf['U'], merch_bf['t']))
merch_bf['U_smoothed']=merch_bf['U_smoothed']

In [56]:
card_bf['Cardnum']=card_bf['Cardnum'].apply(str)
merch_bf['Merchnum'] = merch_bf['Merchnum'].apply(str)

In [57]:
card_bf.set_index('Cardnum', inplace=True)
card_Ustar = pd.DataFrame(card_bf['U_smoothed'])
card_Ustar.sort_values(['U_smoothed'], ascending = False).head(3)

            U_smoothed
Cardnum
5142253356   13.371199
5142299705    9.027976
5142197563    8.150852

In [58]:
merch_bf.set_index('Merchnum', inplace = True)
merch_Ustar = pd.DataFrame(merch_bf['U_smoothed'])
merch_Ustar.sort_values(['U_smoothed'], ascending = False).head(3)

               U_smoothed
Merchnum
991808369338   165.145985
8078200641472   64.663981
308904389335    48.357557

In [ ]:
final = data.copy()

In [69]:
##convert cardnum and merchnum to string. 

final['Cardnum']=final['Cardnum'].astype(str)
card_Ustar.index = card_Ustar.index.astype(str)
final['Merchnum'] = final['Merchnum'].astype(str)
merch_Ustar.index = merch_Ustar.index.astype(str)

In [70]:
final = final.merge(card_Ustar, how='left', left_on='Cardnum', right_on=card_Ustar.index)
final = final.rename(columns={'U_smoothed': 'U*_cardnum'})
final = final.merge(merch_Ustar, how='left', left_on='Merchnum', right_on=merch_Ustar.index)
final = final.rename(columns={'U_smoothed': 'U*_merchnum'})
# fill the na with 1
final=final.fillna(1)

In [71]:
final.head()

,Recnum,Cardnum,Date,Merchnum,Merch description,Merch state,Merch zip,Transtype,Amount,Fraud,U*_cardnum,U*_merchnum
0,1,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0,2.178008,1.000000
1,2,5142183973,2010-01-01,61003026333,SERVICE MERCHANDISE #81,MA,1803.0,P,31.42,0,1.604857,1.001244
2,3,5142131721,2010-01-01,4503082993600,OFFICE DEPOT #191,MD,20706.0,P,178.49,0,2.368143,1.025818
3,4,5142148452,2010-01-01,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118.0,P,3.62,0,1.044105,1.000000
4,5,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118.0,P,3.62,0,2.178008,1.000000

In [73]:
final.to_csv('cleaned_data_final.csv', index=False)